<?xml version="1.0"?>
<ruleset>
    <rule ref="PSR12" />
    <arg name="colors" />
    <arg value="p" />

    <file>src</file>
    <file>tests</file>

    <exclude name="PSR12.Files.FileHeader" />
    <exclude name="PSR12.Files.OpenTag" />

    <rule ref="PSR1.Classes.ClassDeclaration.MultipleClasses">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>

    <rule ref="PSR1.Methods.CamelCapsMethodName">
        <exclude-pattern>tests/*</exclude-pattern>
    </rule>
</ruleset>
